<div class="social-comment">
    <div class="media-body">
        <div class="row" style="position: relative;
        display: -ms-inline-flexbox;">
            <div class="col-11">
                <a href="#">
                Andrew Williams
                </a>
                Internet tend to repeat predefined chunks as necessary, making this the first true generator on the
                Internet. It uses a dictionary of over 200 Latin words.
            </div>
            <div class="col-1" style="padding: 0px;">
                <a class="float-right" style="cursor: pointer;"><img src="../../../assets/images/img-like.png" style="max-width: 15px;"></a>
            </div>
        </div>
    </div>
  </div>